name: discord_dm_cleaner
description: A simple Flutter port of the Discord DM Cleaner UI and basic API calls.
publish_to: 'none'
version: 0.0.1
environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.6

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
